body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: black
}

a {
    text-decoration: none;
    color: grey;
}

.main-home-container {
    /* padding-top: 210px; */
}

.create {
    background: white;
    color: black;
    border-radius: 30px;
    border: none !important;
    font-family: 'PT Mono', monospace !important;
    margin-top: 400px !important;
    left: calc(50% - 50px);
    position: absolute;
    padding: 10px 20px;
}

.create a {
    text-decoration: none;
    color: black;
}

.create:hover {
    background: black;
    color: white;
    border: 0.5px solid white !important;
}

.create a:hover {
    color: white;
}


/* --------------------------- HOME --------------------------- */

h1 {
    font-family: 'Montserrat', sans-serif;
    color: White;
    font-weight: 300;
    margin: 50px auto;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 22%;
    z-index: 9;
}

.main-images {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-top: 160px;
    left: 30%;
    width: 1000px;
    height: 400px;
}

.main-images img {
    margin: auto;
}

.main-image1,
.main-image2,
.main-image3 {
    width: 300px;
    opacity: 0.3;
    z-index: 0;
}

.copyright {
    color: grey;
    margin-top: 170px;
    font-size: 12px;
}


/* --------------------------- NAV --------------------------- */

.nav-style {
    display: inline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    width: 100vw;
    height: 100px;
    background-color: black;
    z-index: 9999;
}

.nav-style a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.logo-box {}

.logo {
    width: 25%;
    margin-left: 50px;
}

.nav-left {
    margin-left: -930px;
}

.nav-right {
    /* margin-right: 60px; */
    box-sizing: border-box;
}

.signup-btn,
.login-btn {
    background-color: black;
    border: none;
    color: white;
    margin-right: 20px;
}

.login-btn {
    padding-right: 40px;
}

.signup-btn:hover,
.login-btn:hover {
    color: grey;
}

.welcome a {
    color: white;
    display: inline;
    margin-right: 20px;
}

.span {
    font-weight: bolder;
}

.nav-style a:hover {
    color: grey;
    transition: 0.5s ease;
}

.nav-left a .selected {
    border-color: white;
}


/* ---------------------------SIGN-UP / LOGIN --------------------------- */

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.80) !important;
}

.ReactModal__Overlay--after-open {
    background-color: white;
    position: absolute;
    right: auto;
    bottom: auto;
    overflow: auto;
    opacity: 1;
}

.ReactModal__Content.ReactModal__Content--after-open {
    background: transparent !important;
    border: none !important;
    width: initial !important;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.login-container,
.signup-container {
    margin-left: calc(50% - 250px);
    width: 500px;
    font-size: 12px;
    margin-top: -20px;
}

.signup-form {
    background-color: black;
    border: 1px solid white;
    border-radius: 20px;
    display: block;
    height: 500px;
    padding: 50px 20px 0 20px;
}

.login-form {
    background-color: black;
    border: 1px solid white;
    border-radius: 20px;
    display: block;
    height: 330px;
    padding: 50px 20px 0 20px;
}

small {
    font-size: 12px;
    color: white;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: 30px;
}

small a {
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 10px;
    text-decoration: none;
    color: grey;
    margin-left: 10px;
}

small a:hover {
    color: white;
    text-decoration: none;
}

label {
    color: white
}

.login-box,
.signup-box {
    background-color: black;
    border: 0.5px white solid;
    margin-left: 30px;
    padding: 11px;
    border-radius: 10px;
    width: 250px;
    color: White;
    font-family: 'PT Mono', monospace;
    flex: 0 0 70%;
}

.btn-signup {
    background: white;
    border-radius: 30px;
    padding: 10px 20px;
    display: block;
    margin: 35px auto 0 auto;
    width: 100px;
    color: black;
    font-size: 15px;
    font-family: 'PT Mono', monospace;
}

.btn-signup:hover {
    background-color: black;
    text-decoration: none;
    color: white;
    transition: 0.5s ease-in-out;
}

.btn-login {
    background: white;
    border-radius: 30px;
    padding: 10px 20px;
    display: block;
    margin: 45px auto 0 auto;
    width: 100px;
    color: black;
    font-size: 15px;
    font-family: 'PT Mono', monospace;
}

.btn-login:hover {
    background-color: black;
    text-decoration: none;
    color: white;
    transition: 0.5s ease-in-out;
}

.rowForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    margin-bottom: 30px;
}


/* ---------------------------THE PROJECT--------------------------- */

.project-container,
.share-container {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 1600px;
    padding-top: 200px !important;
}

h2 {
    font-weight: 300;
    font-size: 20px;
}

.explanation {
    font-size: 14px;
}

.project-resume {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 210px;
}

.column1,
.column2,
.column3 {
    width: 20%;
    margin: 30px;
}

.the-forms,
.further-info {
    margin-left: 257px;
    margin-bottom: 50px;
}

.further-info {
    margin-top: 210px;
}

.project-info {
    margin-top: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    /* padding-bottom: 210px; */
}

.project-info img {
    max-width: 300px;
    flex: 0 0 25%;
}

.speeds {
    display: flex;
    justify-content: center;
    width: 1600px;
    margin: 0 auto;
}

.speed1 {
    width: 12%;
}

.emorat {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
}

.vel {
    text-align: center;
}


/* -------------IMG--------------- */

.project-forms {
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 0 150px;
    margin-left: 80px;
}

.project-forms img {
    max-width: 300px;
    flex: 0 0 25%;
}

span {
    color: grey;
}


/* --------------------------- TEST --------------------------- */

.Test {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-respuesta1,
.btn-respuesta2 {
    width: 280px;
    background-color: black;
    color: white;
    border-radius: 70px;
    padding: 15px 30px;
    font-family: 'PT Mono', monospace;
    font-size: 20px;
    margin-bottom: 30px;
}

.btn-respuesta1:hover,
.btn-respuesta2:hover {
    background-color: grey;
    transition: 0.5s ease-in-out;
}

button:focus {
    outline: 0;
}

.botones-test {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}


/* --------------------------- RESULTS */

.img-selected {
    position: absolute;
    top: 0;
    left: 0;
    width: 90vw;
}

.emo-percent {
    font-size: 15px;
    position: absolute;
    color: white;
    bottom: 5%;
    left: 5%;
}

.rat-percent {
    bottom: 5%;
    left: 9%;
    font-size: 15px;
    position: absolute;
    color: white;
}

.fin-name,
.fin-loc {
    font-size: 15px;
    position: absolute;
    color: white;
}

.fin-name {
    bottom: 13%;
    left: 5%;
}

.fin-loc {
    bottom: 9%;
    left: 5%;
}

.sharefromtest-btn {
    background-color: black;
    color: white;
    font-family: 'PT Mono', monospace;
    position: absolute;
    right: 5%;
    bottom: 7%;
    border-radius: 20px;
    padding: 5px 16px;
}

.sharefromtest-btn:hover {
    background-color: white;
    color: black;
}


/* --------------------------- SHARING WINDOW */

.sharingwindow-container {
    margin-left: calc(50% - 250px);
    height: 500px;
    width: 500px;
    font-size: 12px;
    margin-top: -20px;
    background-color: black;
    border: 1px solid white;
    border-radius: 20px;
    display: block;
    height: 240px;
    padding: 50px 20px 0 20px;
}

h3 {
    display: block;
    font-size: 20px;
    color: White;
    margin: 0 auto;
    text-align: center;
    max-width: 270px;
    line-height: 30px
}

.btn-sharing {
    background: white;
    border-radius: 30px;
    padding: 10px 20px;
    display: block;
    margin: 35px auto 0 auto;
    width: 100px;
    color: black;
    font-size: 15px;
    font-family: 'PT Mono', monospace;
}

.btn-sharing:hover {
    background-color: black;
    text-decoration: none;
    color: white;
    transition: 0.5s ease-in-out;
    border: 1px solid white;
}

.no {
    position: absolute;
    left: 70%;
    top: 59%;
    font-size: 20px;
    border-bottom: 1px solid grey;
}

.no a {
    text-decoration: none;
    color: grey;
}

.no a:hover {
    color: white !important;
}


/* --------------------------- SHARE --------------------------- */

.share-container {
    padding-top: 265px !important;
}

.letra-e {
    position: absolute;
    top: 205px;
    left: 12%;
    font-size: 30px;
}

.letra-r {
    position: absolute;
    top: 295px;
    left: 12%;
    font-size: 30px;
}

.linea {
    height: 0.5px;
    width: 1150px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 17%;
    top: 275px;
}

.circulos {
    margin-left: 299px;
    margin-top: -75px;
}

.circulos>div {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-right: 89px;
}

.circulos>div>button {
    border-radius: 50px;
    width: 20px;
    height: 20px;
}

.porcentajes {
    display: block;
    margin-right: 58px;
}

.list {
    display: flex;
    justify-content: left;
    margin-left: 302px;
    margin-top: -46px;
}

.primero {
    margin-bottom: 64px;
    color: grey;
}

.segundo {
    margin-right: 30px;
    margin-bottom: 10px;
    color: grey;
}

.circulo6>button {
    background: white;
}

.circulo5>button,
.circulo7>button {
    background: rgba(255, 255, 255, 0.9)
}

.circulo4>button,
.circulo8>button {
    background: rgba(255, 255, 255, 0.7)
}

.circulo3>button,
.circulo9>button {
    background: rgba(255, 255, 255, 0.5)
}

.circulo2>button,
.circulo10>button {
    background: rgba(255, 255, 255, 0.3)
}

.circulo1>button,
.circulo11>button {
    background: rgba(255, 255, 255, 0.2)
}


/* -------------------GLOBAL */

.circulos-container {
    width: 60vw;
    height: 600px;
    margin: 70px auto 0 auto;
}

.cada-circulo {
    border-radius: 50px;
    width: 20px;
    height: 20px;
}